<section class="characters-hero">
    <div class="container characters-div">
        <div class="characters-text-div">
            <h1 class="characters-title">Characters</h1>
            <p class="characters-text">Our character bios provide detailed information on every member of the Smith family
                and beyond. Get to know these unforgettable characters on a whole new level - start exploring now!</p>
            <a class="characters-link" href="./index.html">Back home</a>
        </div>
        <div class="character-wrapper">
          <div class="character-glow"></div>
          <picture class="characters-img">
              <source media="(min-width: 1440px)" srcset="
                  ./images/hero-characters-d-1x.png 1x,
                  ./images/hero-characters-d-2x.png 2x,
                  ./images/hero-characters-d-3x.png 3x
              ">
              <source media="(min-width: 768px)" srcset="
                  ./images/hero-characters-t-1x.png 1x,
                  ./images/hero-characters-t-2x.png 2x,
                  ./images/hero-characters-t-3x.png 3x
              ">
              <source media="(min-width: 375px)" srcset="
                  ./images/hero-characters-m-1x.png 1x,
                  ./images/hero-characters-m-2x.png 2x,
                  ./images/hero-characters-m-3x.png 3x
              ">
              <img src="./images/hero-characters-m-1x.png" alt="Hero">
          </picture>
        </div>
    </div>
    <div class="buttons-hero-div">
    <ul class="buttons-hero-list">
      <li class="buttons-hero-item">
        <div id="btn1" class="btn">the adventures</div>
      </li>
      <li class="buttons-hero-item">
        <div id="btn2" class="btn">Animated</div>
      </li>
      <li class="buttons-hero-item">
        <div id="btn3" class="btn">Sitcom</div>
      </li>
      <li class="buttons-hero-item">
        <div id="btn4" class="btn">Justin Roiland</div>
      </li>
      <li class="buttons-hero-item">
        <div id="btn5" class="btn">superpower</div>
      </li>
      <li class="buttons-hero-item">
        <div id="btn6" class="btn">creative</div>
      </li>
      <li class="buttons-hero-item">
        <div id="btn7" class="btn">Amazing!</div>
      </li>
      <li class="buttons-hero-item">
        <div id="btn8" class="btn">Rick and Morty</div>
      </li>
      <li class="buttons-hero-item">
        <div id="btn9" class="btn">comics</div>
      </li>
      <li class="buttons-hero-item">
        <div id="btn10" class="btn">follows</div>
      </li>
      <li class="buttons-hero-item">
        <div id="btn11" class="btn">characters</div>
      </li>
      <li class="buttons-hero-item">
        <div id="btn12" class="btn">Whoa</div>
      </li>
      <li class="buttons-hero-item">
        <div id="btn1" class="btn">the adventures</div>
      </li>
      <li class="buttons-hero-item">
        <div id="btn2" class="btn">Animated</div>
      </li>
      <li class="buttons-hero-item">
        <div id="btn3" class="btn">Sitcom</div>
      </li>
      <li class="buttons-hero-item">
        <div id="btn4" class="btn">Justin Roiland</div>
      </li>
      <li class="buttons-hero-item">
        <div id="btn5" class="btn">superpower</div>
      </li>
      <li class="buttons-hero-item">
        <div id="btn6" class="btn">creative</div>
      </li>
      <li class="buttons-hero-item">
        <div id="btn7" class="btn">Amazing!</div>
      </li>
      <li class="buttons-hero-item">
        <div id="btn8" class="btn">Rick and Morty</div>
      </li>
      <li class="buttons-hero-item">
        <div id="btn9" class="btn">comics</div>
      </li>
      <li class="buttons-hero-item">
        <div id="btn10" class="btn">follows</div>
      </li>
      <li class="buttons-hero-item">
        <div id="btn11" class="btn">characters</div>
      </li>
      <li class="buttons-hero-item">
        <div id="btn12" class="btn">Whoa</div>
      </li>
    </ul>
  </div>
</section>