<div class="episodes">
  <div class="container">
    <div class="episodes__search">
      <label class="episodes__label">Name</label>
      <input class="episodes__input" type="text" placeholder="Enter name" />
      <button class="episodes__search-button">
        <svg width="18" height="18" class="icon">
          <use xlink:href="./images/sprite-episodes.svg#search"></use>
        </svg>
      </button>
    </div>
    <div class="episodes__filters">
      <label class="episodes__label">Episode code</label>
      <input class="episodes__filters-input" placeholder="All seasons" type="text">
      <button class="episodes__filters-button">
        <svg width="18" height="18" class="icon">
          <use xlink:href="./images/sprite-episodes.svg#chevron-down"></use>
        </svg>
      </button>
    </div>
    <div class="episodes__dropdown">
      <div class="dropdown-item" data-value="all">All seasons</div>
      <div class="dropdown-item" data-value="1">1 season</div>
      <div class="dropdown-item" data-value="2">2 season</div>
      <div class="dropdown-item" data-value="3">3 season</div>
      <div class="dropdown-item" data-value="4">4 season</div>
      <div class="dropdown-item" data-value="5">5 season</div>
      <div class="dropdown-item" data-value="6">6 season</div>
      <div class="dropdown-item" data-value="7">7 season</div>
      <div class="dropdown-item" data-value="8">8 season</div>
    </div>
    <ul class="episodes__list"></ul>
    <button class="episodes__load-button">Load more</button>
</div>
</div>