<section class="main-characters">
  <div class='container'>
    <!-- <div class="main-characters__header">

    </div> -->

    <div class="main-characters__layout">
      <h2 class="main-characters__title">
      <span class="main-characters__title-badge">Main</span>
      <span class="main-characters__title-text">characters</span>
      </h2>
      <div class="main-characters__figure">
        <img
          class="main-characters__image"
          alt="Rick Sanchez"
        />
      </div>

    <div class="main-characters__list">
      <div class="main-characters__item main-characters__item--active" data-character="rick">
        <h3 class="main-characters__name">Rick Sanchez</h3>
        <p class="main-characters__description">
          Rick Sanchez is a brilliant, but deeply troubled scientist and one of
          the main characters in the animated TV show Rick and Morty.
        </p>
      </div>

      <div class="main-characters__item" data-character="morty">
        <h3 class="main-characters__name">Morty Smith</h3>
        <p class="main-characters__description">
          Morty Smith is the other main character in the animated TV show Rick
          and Morty, and Rick's grandson.
        </p>
      </div>

      <div class="main-characters__item" data-character="summer">
        <h3 class="main-characters__name">Summer Smith</h3>
        <p class="main-characters__description">
          Summer Smith is Morty's older sister and one of the main characters in
          Rick and Morty. Portrayed as a typical teenager, she grows into an
          independent and resourceful character.
        </p>
      </div>

      <div class="main-characters__item" data-character="beth">
        <h3 class="main-characters__name">Beth Smith</h3>
        <p class="main-characters__description">
          Beth is a horse surgeon and Rick's daughter. She is intelligent and
          sometimes emotionally distant.
        </p>
      </div>

      <div class="main-characters__item" data-character="jerry">
        <h3 class="main-characters__name">Jerry Smith</h3>
        <p class="main-characters__description">
          Jerry is Beth's husband, the father of Summer and Morty Smith, and the
          son-in-law of Rick Sanchez.
        </p>
      </div>
    </div>
    
    </div>
  </div>
</section>

