<li class="episodes__list-item" >
        <h3 class="episodes__name">{{name}}</h3>
        <p class="episodes__season-title">Season</p>
        <p class="episodes__season">{{season}}</p>
        <p class="episodes__airdate-title">Air date</p>
        <p class="episodes__airdate">{{airDate}}</p>
</li>