@mixin sm-breakpoint {
    @media screen and (min-width: getBreakpoint(sm)) {
        width: 320px;
    }
}

@mixin md-breakpoint {
    @media screen and (min-width: getBreakpoint(md)) {
        width: 375px;
    }
}

@mixin lg-breakpoint {
    @media screen and (min-width: getBreakpoint(lg)) {
        width: 768px;
    }
}

@mixin xl-breakpoint {
    @media screen and (min-width: getBreakpoint(xl)) {
        width: 1440px;
    }
}

@mixin md-container {
    @media screen and (min-width: getBreakpoint(md)) {
        width: 335px;
    }
}

@mixin lg-container {
    @media screen and (min-width: getBreakpoint(lg)) {
        width: 704px;
    }
}

@mixin xl-container {
    @media screen and (min-width: getBreakpoint(xl)) {
        width: 1184px;
    }
}