<section class="episodes-hero">
    <div class="container episodes-div">
        <div class="episodes-text-div">
        <h1 class="episodes-title">Episodes</h1>
            <p class="episodes-text">With a comprehensive guide to every episode, you can relive your favorite moments and
                discover new ones. From the bizarre and hilarious to the emotional and thought-provoking, our episode guide
                covers it all. </p>
            <a class="characters-link" href="./index.html">Back home</a>
        </div>
        <picture class="episodes-img">
            <source media="(min-width: 1440px)" srcset="
                ./images/episodes-hero-d-3x.png 1x,
                ./images/episodes-hero-d-3x.png 2x,
                ./images/episodes-hero-d-3x.png 3x
            ">
            <source media="(min-width: 768px)" srcset="
                ./images/episodes-hero-t-3x.png 1x,
                ./images/episodes-hero-t-3x.png 2x,
                ./images/episodes-hero-t-3x.png 3x
            ">
            <source media="(min-width: 375px)" srcset="
                ./images/episodes-hero-m-3x.png 1x,
                ./images/episodes-hero-m-3x.png 2x,
                ./images/episodes-hero-m-3x.png 3x
            ">
            <img src="./images/episodes-hero-m-3x.png" alt="Hero">
        </picture>
    </div>
    <picture class="episodes-gradient">
        <source media="(min-width: 768px)" src="./images/characters-gradient-t.png">
        <source media="(min-width: 320px)" src="./images/characters-gradient-m.png">
        <img src="./images/characters-gradient-m.png">
    </picture>
    <div class="buttons-hero-div">
    <ul class="buttons-hero-list">
      <li class="buttons-hero-item">
        <div id="btn1" class="btn">the adventures</div>
      </li>
      <li class="buttons-hero-item">
        <div id="btn2" class="btn">Animated</div>
      </li>
      <li class="buttons-hero-item">
        <div id="btn3" class="btn">Sitcom</div>
      </li>
      <li class="buttons-hero-item">
        <div id="btn4" class="btn">Justin Roiland</div>
      </li>
      <li class="buttons-hero-item">
        <div id="btn5" class="btn">superpower</div>
      </li>
      <li class="buttons-hero-item">
        <div id="btn6" class="btn">creative</div>
      </li>
      <li class="buttons-hero-item">
        <div id="btn7" class="btn">Amazing!</div>
      </li>
      <li class="buttons-hero-item">
        <div id="btn8" class="btn">Rick and Morty</div>
      </li>
      <li class="buttons-hero-item">
        <div id="btn9" class="btn">comics</div>
      </li>
      <li class="buttons-hero-item">
        <div id="btn10" class="btn">follows</div>
      </li>
      <li class="buttons-hero-item">
        <div id="btn11" class="btn">characters</div>
      </li>
      <li class="buttons-hero-item">
        <div id="btn12" class="btn">Whoa</div>
      </li>
    </ul>
  </div>
</section>