<div class="container">
		<div class="footer__container">
			<div class="footer__logo">
				<img
					src="./images/rickAndMorty-footerLogo-1x.png"
					alt=""
				/>
				<div>Rick and</div>
				<div>Morty</div>
			</div>

			<div class="footer__menu">
				<nav class="footer__nav">
					<ul class="footer__list">
						<li>
							<a href="./characters.html">Characters</a>
						</li>
						<li>
							<a href="./episodes.html">Episodes</a>
						</li>
					</ul>
				</nav>

				<ul class="footer__links">
					<li>
						<a href="/">
							<svg
								class="icon"
								width="16"
								height="16"
							>
								<use xlink:href="./images/sprites.svg#facebook"></use>
							</svg>
						</a>
					</li>
					<li>
						<a href="/">
							<svg
								class="icon"
								width="16"
								height="16"
							>
								<use xlink:href="./images/sprites.svg#twitter"></use>
							</svg>
						</a>
					</li>
					<li>
						<a href="/">
							<svg
								class="icon"
								width="16"
								height="16"
							>
								<use xlink:href="./images/sprites.svg#instagram"></use>
							</svg>
						</a>
					</li>
				</ul>
			</div>
		</div>

		<p class="footer__agreement">Privacy Policy Public Offering Agreement</p>
	</div>