<header class="header">
	<div class="container">
		<nav class="header__navbar">
			<a
				href="./index.html"
				class="header__logo"
			>
				<img
					src="../images/logo-sm.png"
					alt=""
				/>
			</a>

			<ul class="header__list">
				<li class="header__list-item">
					<a
						href="./characters.html"
						class="header__list-link"
						>Characters</a
					>
				</li>
				<li class="header__list-item">
					<a
						href="./episodes.html"
						class="header__list-link"
						>Episodes</a
					>
				</li>
			</ul>
		</nav>

		<div class="header__search">
			<label
				for="headerSearchInput"
				class="header__search-label"
			>
				<svg
					class="icon"
					width="16"
					height="16"
				>
					<use xlink:href="./images/sprites.svg#search"></use>
				</svg>
			</label>
			<input
				type="text"
				id="headerSearchInput"
				name="headerSearchInput"
				placeholder="Search"
			/>
		</div>
	</div>
</header>
