<section class="main-hero">
  <div class="container main-hero-div">
      <picture class="main-hero-img">
        <source media="(min-width: 768px)" srcset="
            ./images/hero-main-t-1x.png 1x,
            ./images/hero-main-t-2x.png 2x,
            ./images/hero-main-t-3x.png 3x
          ">
        <source media="(min-width: 375px)" srcset="
            ./images/hero-main-m-1x.png 1x,
            ./images/hero-main-m-2x.png 2x,
            ./images/hero-main-m-3x.png 3x
          ">
        <img src="./images/hero-main-m-1x.png" alt="Hero">
      </picture>
  
      <picture class="hero-logo">
        <source media="(min-width: 768px)" srcset="
        ./images/logo-main-hero-t-1x.png 1x,
        ./images/logo-main-hero-t-2x.png 2x,
        ./images/logo-main-hero-t-3x.png 3x
      ">
  
        <source media="(min-width: 375px)" srcset="
        ./images/logo-main-hero-t-1x.png 1x,
        ./images/logo-main-hero-t-2x.png 2x,
        ./images/logo-main-hero-t-3x.png 3x
      ">
  
        <img src="./images/logo-main-hero-m-1x.png" alt="Hero">
      </picture>
    <img src="./images/main-hero-gradient.png" alt="gradient" class="gradient">
    <h1 class="main-hero-div-text">If you're a fan of Rick and Morty, you don't want to miss out on our app! Start
      exploring the endless possibilities of Rick and Morty!</h1>
  </div>
  <div class="buttons-hero-div">
    <ul class="buttons-hero-list">
      <li class="buttons-hero-item">
        <div id="btn1" class="btn">the adventures</div>
      </li>
      <li class="buttons-hero-item">
        <div id="btn2" class="btn">Animated</div>
      </li>
      <li class="buttons-hero-item">
        <div id="btn3" class="btn">Sitcom</div>
      </li>
      <li class="buttons-hero-item">
        <div id="btn4" class="btn">Justin Roiland</div>
      </li>
      <li class="buttons-hero-item">
        <div id="btn5" class="btn">superpower</div>
      </li>
      <li class="buttons-hero-item">
        <div id="btn6" class="btn">creative</div>
      </li>
      <li class="buttons-hero-item">
        <div id="btn7" class="btn">Amazing!</div>
      </li>
      <li class="buttons-hero-item">
        <div id="btn8" class="btn">Rick and Morty</div>
      </li>
      <li class="buttons-hero-item">
        <div id="btn9" class="btn">comics</div>
      </li>
      <li class="buttons-hero-item">
        <div id="btn10" class="btn">follows</div>
      </li>
      <li class="buttons-hero-item">
        <div id="btn11" class="btn">characters</div>
      </li>
      <li class="buttons-hero-item">
        <div id="btn12" class="btn">Whoa</div>
      </li>
    </ul>
  </div>

</section>