<section class="main-hero">
  <div class="container main-hero-div">
    <img src="./images/hero-main-m-2x.png" alt="main-hero" class="main-hero-img">
    <img src="./images/logo-sm-3x.png" alt="logo-sm" class="hero-logo">
    <img src="./images/main-hero-gradient.png" alt="gradient" class="gradient">
    <h1 class="main-hero-div-text">If you're a fan of Rick and Morty, you don't want to miss out on our app!  Start exploring the endless possibilities of Rick and Morty!</h1>
  </div>
  <div class="buttons-hero-div">
    <!-- <ul class="buttons-hero-list">
        <li class="buttons-hero-item"><div id="the-adventures" class="buttons-hero black">the adventures</div></li>
        <li class="buttons-hero-item"><div id="animated" class="buttons-hero green">Animated</div></li>
        <li class="buttons-hero-item"><div id="sitcom" class="buttons-hero lime">Sitcom</div></li>
        <li class="buttons-hero-item"><div id="justin-roiland" class="buttons-hero green">Justin Roiland</div></li>
        <li class="buttons-hero-item"><div id="superpower" class="buttons-hero black gren">superpower</div></li>
        <li class="buttons-hero-item"><div id="creative" class="buttons-hero lime">creative</div></li>
        <li class="buttons-hero-item"><div id="amazing" class="buttons-hero green">Amazing!</div></li>
        <li class="buttons-hero-item"><div id="rick-and-morty" class="buttons-hero black">Rick and Morty</div></li>
        <li class="buttons-hero-item"><div id="comics" class="buttons-hero lime">comics</div></li>
        <li class="buttons-hero-item"><div id="" class="buttons-hero black grn">follows</div></li>
        <li class="buttons-hero-item"><div id="" class="buttons-hero lime">characters</div></li>
        <li class="buttons-hero-item"><div id="" class="buttons-hero green">Whoa</div></li>
    </ul> -->
  </div>

</section>