<section class="rnm-promo">
  <div class="container">

    <div class="rnm-promo__content">
      <h2 class="rnm-promo__title">
        Ready to <span class="rnm-promo__title-highlight">explore</span>
        the crazy world of Rick and Morty? 
      </h2>
    </div>

    <div class="rnm-promo__slider" data-rnm-slider="auto">
      <div class="rnm-promo__slider--track">
        <div class="rnm-slider__slide">
          <img
            class="rnm-slider__image RickAndMortyUsingAfuturisticDevice"

            alt="Rick and Morty using a futuristic device"
          />
        </div>

        <div class="rnm-slider__slide">
          <img
            class="rnm-slider__image ricAndMorty"

            alt="Rick and Morty standing in a spaceship"
          />
        </div>

        <div class="rnm-slider__slide">
          <img
            class="rnm-slider__image ricAndMortyAndBabochka"

            alt="Alien screaming near Rick and Morty"
          />
        </div>

        <div class="rnm-slider__slide">
          <img
            class="rnm-slider__image RicAndBethAndJerry"

            alt="Family from Rick and Morty smiling"
          />
        </div>

        <div class="rnm-slider__slide">
          <img
            class="rnm-slider__image MortyAndSummerInSpace"

            alt="Rick, Morty and Summer in space"
          />
        </div>
      </div>

    </div>
      <button class="rnm-promo__button">
        Episodes
      </button>
  </div>
</section>
