.container {
    width: 320px;
    margin: 0 auto;
    padding: 0 20px;

    @include media('sm') {
        width: 335px;
    } 

    @include media('md') {
        width: 704px;
        padding: 0 32px;
    }

    @include media('lg') {
        width: 1184px;
        padding: 0 128px;
    }
}