.container {
    width: 320px;
    margin: 0 auto;
    padding: 0 20px;

    @media screen and (min-width: getBreakpoint(sm)) {
        width: 335px;
    }

    @media screen and (min-width: getBreakpoint(md)) {
        width: 704px;
    }

    @media screen and (min-width: getBreakpoint(lg)) {
        width: 1184px;
    }
}