@use"../utils/variables";
@use"../utils/mixins";
// @use"../utils/breakpoints";

.characters {
    &__filters {
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));
        grid-template-areas:
            "name   name"
            "status species"
            "type   gender";
        min-width: 320px;
        max-width: 375px;
        row-gap: 20px;
        // column-gap: 24px;

    }

    // &__list {}

    &__load-more-wrapper {
        display: flex;
        justify-content: center;
    }

    &__load-more-button {
        border-radius: 1000px;
        padding: 10px 20px;
        width: 107px;
        height: 36px;
        font-family: var(--font-family);
        font-weight: 600;
        font-size: 12px;
        line-height: 133%;
        color: var(--black);
        background: var(--green);
    }
}

// ====== БЛОК FILTERS (форма з фільтрами) ======

.filters {

    // display: flex;
    &__group {
        width: 162px;
        height: 68px;

        &--name {
            grid-area: name;
            // width: 335px;
        }

        &--status {
            grid-area: status;
        }

        &--species {
            grid-area: species;
        }

        &--type {
            grid-area: type;
        }

        &--gender {
            grid-area: gender;
        }
    }

    &__label {
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 12px;
        line-height: 117%;
        color: #111;
    }

    &__control-wrapper {
        border: #111 1 px;
        width: 335px;
        height: 68px;
        margin-top: 8px;
        position: relative;
    }

    &__input {
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 14px;
        line-height: 129%;
        border: 1.50px solid #111;
        border-radius: 100px;
        padding: 14px 24px;
        // width: 335px;
        height: 46px;
        background-color: var(--light-green);
        color: #111;

        &--search {
            width: 100%;
            // padding-right: 80px; // місце під кнопку всередині
            box-sizing: border-box;
        }
    }

    &__button {
        background-color: var(--light-green);

        &--search {
            position: absolute;
            top: 50%;
            right: 24px; // зсунути всередину справа
            transform: translateY(-106%);
        }
    }

    // &__select {

    //     &--status {}

    //     &--species {}

    //     &--type {}

    //     &--gender {}
    // }
}

// ====== БЛОК DROPDOWN (кастомні селекти) ======

.dropdown {
    margin-top: 8px;

    &__trigger {
        display: flex;
        border: 1.50px solid #111;
        border-radius: 100px;
        padding: 14px 24px;
        width: 162px;
        height: 46px;
    }

    &__value {
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 14px;
        line-height: 129%;
        color: #111;
    }

    &__arrow {
        margin-left: auto;
    }

    &__menu {
        display: none;
        border-bottom: 1px solid #111;
        border-left: 1px solid #111;
        border-right: 1px solid #111;
        border-radius: 16px;
        width: 162px;

        box-shadow: 0 6px 14px 0 rgba(0, 0, 0, 0.15);
        background: #fafafa;
        padding-top: 14px;
        padding-bottom: 10px;
        position: relative;
        z-index: 10;
    }

    &__item {
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 12px;
        line-height: 133%;
        color: rgba(17, 17, 17, 0.3);
        margin-bottom: 4px;
        margin-left: 24px;

        // &--selected {}
    }

    &--open {
        .dropdown__menu {
            display: block;
        }
    }
}

/* ------------ КАРТКА ПЕРСОНАЖА ------------ */

.character-card {
    margin-top: 40px;
    margin-bottom: 40px;
    display: flex;
    // justify-content: center;
    flex-wrap: wrap;
    // text-align: left;


    &__image-wrapper {
        display: flex;
        justify-content: center;
        margin: 0 auto;
    }

    &__image {
        border: 2px solid var(--green);
        border-radius: 18px;
        width: 335px;
        height: 335px;
    }

    // &__body {}

    &__name {
        font-family: var(--font-family);
        font-weight: 600;
        font-size: 16px;
        line-height: 112%;
        color: #111;
    }

    &__origin {
        text-align: left;
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 14px;
        line-height: 129%;
        color: rgba(17, 17, 17, 0.5);

        &--cl {
            color: #111;
        }

    }

    &__location {
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 14px;
        line-height: 129%;
        color: rgba(17, 17, 17, 0.5);


        &--cl {
            color: #111;
        }
    }
}