.characters-hero{
    padding-top: 41px;
    padding-bottom: 81px;
    margin-bottom: 105px;
    background-color: #0D171D;
    position: relative;
    border-radius: 0 0 60px 60px;
}
.characters-div{
    position: relative;
    z-index: 5;
}
.characters-title{
    font-weight: 600;
    font-size: 40px;
    line-height: 110%;
    text-align: left;
    color: #fafafa;
    margin-bottom: 14px;
}
.characters-text{
    width: 317px;
    font-weight: 400;
    font-size: 14px;
    line-height: 129%;
    color: #fafafa;
    margin-bottom: 24px;
}
.characters-link{
    display: block;
    border: 1px solid rgba(250, 250, 250, 0.3);
    border-radius: 1000px;
    padding: 10px 20px;
    margin-bottom: 40px;
    width: 113px;
    height: 36px;
    font-weight: 600;
    font-size: 12px;
    line-height: 133%;
    color: #fafafa;
}
.characters-img{
    background-color: #A1D737;
    padding-top: 16px;
    border-radius: 25px;
}
.characters-gradient{
    position: absolute;
    top: 320px;
    z-index: 0;
    border-radius: 60px;
}

.buttons-hero-div{
    position: absolute;
    top: 653px;
    max-width: 375px;
    overflow-x: hidden;
}
.buttons-hero-list {
    position: relative;
    width: 375px;
    height: 115px;
    margin: 0 auto;
    list-style: none;
    padding: 0;
    display: flex;
}

.btn {
    position: absolute;
    height: 50px;
    font-weight: 600;
    font-size: 16px;
    line-height: 112%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
}

// #btn1  { width: 218px; }
// #btn2  { width: 154px; }
// #btn3  { width: 126px; }
// #btn4  { width: 208px; }
#btn5  { width: 151px; }
#btn6  { width: 113px; }
#btn7  { width: 124px; }
#btn8  { width: 168px; }
#btn9  { width: 102px; }
// #btn10 { width: 124px; }
// #btn11 { width: 162px; }
// #btn12 { width: 112px; }



// #btn1  { left: -563px;   top: 65px; transform: rotate(0deg); }
// #btn2  { left: 72px;   top: 796px; transform: rotate(0deg); }
// #btn3  { left: 165px;  top: 772px; transform: rotate(31.18deg); }
// #btn4  { left: 270px;  top: 847px; transform: rotate(0deg); }
#btn5  { left: -95px;  top: 30px; transform: rotate(17deg); background-color: #0D171D; color: #A1D737; }
#btn6  { left: 46px;  top: 29px; transform: rotate(132deg); background-color: #DAF836; color: #111111; }
#btn7  { left: 123px;  top: 65px; transform: rotate(180deg); background-color: #A1D737; color: #111111; }
#btn8  { right: -52px;  top: 65px; transform: rotate(0deg); background-color: #0D171D; color: #FAFAFA; }
#btn9  { right: -35px;  top: 26px; transform: rotate(34.53deg); background-color: #DAF836; color: #111111; }
// #btn10 { left: 1065px; top: 847px; transform: rotate(180deg); }
// #btn11 { left: 1205px; top: 824px; transform: rotate(148.92deg); }
// #btn12 { left: 1312px; top: 847px; transform: rotate(180deg); }
