.episodes-hero{
    background-color: #0D171D;
    position: relative;
    padding-top: 41px;
    padding-bottom: 81px;
    margin-bottom: 105px;
    border-radius: 0 0 60px 60px;
}
.episodes-div{
    position: relative;
    z-index: 1;
}
.episodes-title{
    font-weight: 600;
    font-size: 40px;
    line-height: 110%;
    color: #fafafa;
    margin-bottom: 14px;
}
.episodes-text{
    width: 335px;
    font-weight: 400;
    font-size: 14px;
    line-height: 129%;
    color: #fafafa;
    margin-bottom: 24px;
}
.episodes-img{
    background-color: #A1D737;
    padding: 32px 39px 0 0;
    border-radius: 25px;
}
