.rnm-promo {
  overflow: visible;
  position: relative;
  border-radius: 50px;
  height: 566px;
  background: #0D171D;
  padding: 80px 20px 24px;
	&__title{ 
		font-family: "Montserrat", sans-serif; 
		font-weight: 600; 
		font-size: 28px; 
		line-height: 114%; 
		color: #fafafa; 
		width: 335px; 
			&-highlight{ 
				border-radius: 44px; 
				padding: 2px  10px; 
				background: #A1D737; 
		} 
	}
  &__slider {
    position: relative;
    overflow: hidden;
    width: 100%;   
    max-width: 1440px;
    margin: 32px auto 0;

    &--track {
      display: flex;
      transition: transform 0.4s ease;
    }
  }

  &__button {
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 14px;
    line-height: 129%;
    border-radius: 999px;
    padding: 10px 20px;
    min-width: 110px;
    height: 36px;
    background: var(--green);
    color: var(--black);
    border: none;
    cursor: pointer;
    margin-top: 16px;
    margin-left: auto;
    display: block;
  }
}

.rnm-slider {
  &__slide {
    flex: 0 0 220px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 16px;
  }

  &__image {
    width: 220px;
    height: 260px;
    display: block;
    border-radius: 16px;
    object-fit: cover;
  }
}

@include media("md") {
  .rnm-promo__slider {
    max-width: 900px;
  }

  .rnm-slider__slide {
    flex: 0 0 calc(33.333% - 10px);
    margin-right: 10px;
  }

  .rnm-slider__image {
    width: 200px;
    height: 220px;
  }
}
@include media("lg") {
  .rnm-promo__slider {
    position: relative;
    left: 50%;
    width: 100vw;      
    max-width: 1440px;  
    transform: translateX(-50%);
    margin-top: 64px;
    height: 314px;
    overflow: hidden;
  }
  
  .rnm-slider__slide {
    flex: 0 0 314px; 
    margin-right: 24px;
    height: 278px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--black);
  }
  
  .rnm-slider__image {
    width: 314px;
    height: 278px;
    object-fit: contain; 
    object-position: center;
    border-radius: 16px;
  }
  
  .rnm-promo__title {
    width: 620px;
    font-size: 44px;
    line-height: 109%;
  }
  
  .rnm-promo {
    padding: 80px 0 24px;
    height: 744px;
  }
  
  .rnm-promo__button {
    border-radius: 1000px;
    padding: 12px 24px;
    width: 113px;
    height: 42px;
  }
}
