.main-characters{
	&__title{
		margin-bottom: 40px;
	}
	&__image{
		background-color: tomato;
		outline:  1px solid tomato;
		margin-bottom: 32px;
	}
	&__title-badge {
  background-color: #0D171D; 
  color: #ffffff;            
  text-align: center;
	padding: 5px 0;
	border-radius: 44px;
	width: 100px;
	height: 44px;       
  border-radius: 20px;       
  font-weight: 600;          
  display: inline-block;     
	}
	&__title-text {
    color: #111;
  }
	&__layout {
    gap: 40px;
  }

  &__figure {
    flex: 0 0 280px;
  }

  &__image {
    width: 100%;
    border-radius: 12px;
  }

  &__list {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 28px;
  }

  &__item {
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(17, 17, 17, 0.2);

    &--active .main-characters__name {
      color: var(--green);
    }
  }

  &__name {
    font-weight: 600;
    font-size: 18px;
    line-height: 133%;
    color: #111;
    margin-bottom: 8px;
  }

  &__description {
    font-weight: 400;
    font-size: 14px;
    line-height: 129%;
    color: #111;
    max-width: 480px;
  }
}